<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>抽象工厂.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0DF0ABD1D58B33A003306BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0DF0AD61D58B33B003306BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0DF0AE11D58B33B003306BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
